/* RESET */
ul,li {margin:0; padding:0; list-style-type:none;}
h1,h2,h3,h4,h5,h6,p {margin:0; padding:0; -webkit-text-size-adjust:auto;}

/* FOUNDATION ELEMENTS  */
.mobile {display:none !important;}
.wrapper {width:100%; height:650px; background:url(../img/bg_gradient.png) bottom center repeat-x; position:relative;}
.hor-line {width:100%; height:2px; background:url(../img/hor_line.png) repeat-x; position:absolute; top:295px;}
.holder {width:1000px; height:650px; margin:0 auto; position:relative; overflow:visible;}
#logo {width:41px; height:60px; background:url(../img/3_logo.png) 0 0 no-repeat; position:absolute; top:20px; right:100px; z-index:99;}
#title {width:347px; height:175px; background:url(../img/text_bima_tri_inside.png) 0 0 no-repeat; position:absolute; top:70px; left:80px;}
#bima {opacity:0; width:357px; height:370px; background:url(../img/bima.png) 0 0 no-repeat; position:absolute; top:100px; right:182px; z-index:99;}
#bima-small {opacity:0; width:274px; height:275px; background:url(../img/bima_small.png) 0 0 no-repeat; position:absolute; top:260px; right:0;}
#stiker-desktop {background:url(../img/new/stiker-PMwp.png); width:130px; height:130px; position:absolute; top:100px; left:-70px}
.stiker-mobile {background:url(../img/new/stiker-PMwp.png); width:130px; height:130px; display:none; margin:0 auto 20px;}

/* DOWNLOAD */
.download {width:500px; position:absolute; left:80px; z-index:99; overflow:hidden;}
.download h1 {font-family:'HelveticaNeueLTStd-Roman'; font-size:18px; font-weight:normal; padding-bottom: 5px;}
.download a {text-decoration:none; outline:none; float:left; margin:0 -10px 0 0; width: 85px; display:none;}
.lt-ie9 .download {top:273px;}
.clone-download {margin:20px 0 0 0;}
.clone-download .download {position:static;}
.clone-download .download img {display:inline;}

/* DEVICE */
#device {width:265px; height:513px; background:url(../img/iphone.png) repeat-y; position:absolute; top:100px; right:65px;}
#device .viewport {width:218px; height:329px; position:absolute; top:90px; left:25px; overflow:hidden;}
#device .slide {width:1526px; overflow:hidden; transition:1s all; -webkit-transition:1s all; -moz-transition:1s all;}
#device .slide-screen {width:218px; float:left;}

/* CONTENT */
#content {width:100%; overflow:hidden;}
#content .slide-item {padding-bottom:20px;}
#content .slide {}
.slide {overflow:hidden;}
.slide-item {float:left;}
.content-inside {margin:350px 0 0 80px; width:600px;}
.content-inside h1 {font-size:48px; font-family:'HelveticaNeueLTStd-Th'; color:#333; font-weight:normal; -webkit-text-size-adjust:70%;}
.content-inside h2 {font-size:17px; font-family:'Arial'; color:#666; font-weight:normal; line-height:23px; -webkit-text-size-adjust:none;}
#iframe-video {width:320px; height:180px;}
#iframe-video-mobile {width:80%; height:60%; position:absolute; top:50%; left:50%; z-index:1000; display:none;}
#overlay {width:100%; height:100%; background:#000; opacity:0.8; position:fixed; z-index:999; top:0; display:none;}
#toggle-video {width:160px; height:90px; cursor:pointer; background:url(../img/video-mobile.jpg) 0 0 no-repeat; margin:20px auto 0;}
#toggle-video:hover {background:url(../img/video-mobile-hover.jpg) 0 0 no-repeat;}

/* FOOTER */
#footer {width:1000px; margin:0 auto; overflow:hidden; font:11px/12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; color: #999; padding:20px 0;}
#footer .copyright {float:left; margin:0 0 0 80px;}
#footer .sticker {float:right; background:#FF9C00; padding:6px 4px; border-radius:5px; color:#ffffff; font-weight:bold; text-decoration:none; margin:0 110px 0 0;}

/* HEADING MOBILE */
.first-slide .heading {margin:0 0 30px 0;}
.insideText1 { -webkit-text-size-adjust:80%; font-family: 'HelveticaNeueLTStd-Md'; font-size: 18px;color: #666; font-weight: normal; padding-top: 13px;}
.insideText2 { -webkit-text-size-adjust:80%; font-family: 'HelveticaNeueLTStd-Md'; font-size: 13px; color: #666; font-weight: normal; padding: 20px 0px 20px 0px;}
.insideLogo { -webkit-text-size-adjust:auto;font-family: 'HelveticaNeueLTStd-Bd'; font-size: 72px; letter-spacing: -3px; font-weight: normal;}
.insideLogo span { -webkit-text-size-adjust:auto; color: #ff9c00;}
.insideTag { -webkit-text-size-adjust:100%; font-family: 'HelveticaNeueLTStd-Roman'; font-size: 27px; line-height: 0px; letter-spacing: -1px; padding-left: 9px; font-weight: normal;}
.insideTitle { -webkit-text-size-adjust:auto; font-family: 'HelveticaNeueLTStd-Roman'; font-size: 24px; color: #333; font-weight: normal; padding: 10px 0px;}
.insideContent { -webkit-text-size-adjust:auto; font-family: 'HelveticaNeueLTStd-Roman'; font-size: 14px; color: #666; font-weight: normal; width: 370px; margin-left: auto; margin-right: auto;}
.first-slide .insideLogo {font-size:82px; margin:20px 0 0 0;}
.first-slide .insideTag {font-size:31px; font-weight:bold;}
#mobile-image-1 {left:-60px;}
#mobile-image-2 {left:-40px;}
.indie {margin-bottom:10px;}
.indie-link { -webkit-text-size-adjust:80%; background:#FF9C00; padding:9px 15px; border-radius:5px; color:#ffffff; font-weight:bold; text-decoration:none; font-size:15px;}
#slide-7 h2, #slide-8 h2 {margin-bottom:15px;}

/* MEDIA SCREEN OPTIONS  */
@media screen and (min-width:1001px) {
	.download {top:268px;}
}
@media screen and (min-width:769px) and (max-width:1000px) {
	.holder {width:100%;}
	.content-inside {width:300px;}
	.bx-wrapper .bx-next {right:15px !important;}
	.bx-wrapper .bx-prev {left:15px !important;}
	#footer {width:100%;}
	.download {top:268px;}
	#bima {width:250px; height:260px; background-size:100% 100%; margin-top:100px;}
	#bima-small {width:222px; height:192px; background-size:100% 100%; margin-top:100px; margin-right:30px;}
}
@media screen and (min-width:769px) and (max-width:850px) {
	.download {width:310px;}
	.content-inside {margin:380px 0 0 80px;}
	.wrapper, .holder {height:700px;}
}
@media screen and (max-width:768px) {
	#device, #logo, #title {display:none;}
	#stiker-desktop {display:none;}
	.stiker-mobile {display:block;}
	.download {width:100%; bottom:0; left:0; text-align:center;}
	.download a {float:none;}
	.download h1 {display:none;}
	#footer {width:100%;}
	.wrapper, .holder {height:880px;}
	.mobile {display:block !important;}
	img.mobile {margin:0 auto; position:relative;}
	.holder {width:100%;}
	.content-inside {width:100%; margin:0; text-align:center;}
	.content-inside h1 {font-size:24px; font-family:'HelveticaNeueLTStd-Roman';}
	.content-inside h2 {font-size:14px; line-height:18px; -webkit-text-size-adjust:80%;}
	.first-slide .content-inside h1 {}
	.first-slide .content-inside h1,
	.first-slide .content-inside h2 {color:#666;}
	.first-slide .content-inside h2 {font-size:18px;}
	.first-slide .insideTag {font-size:28px;}
	.hor-line {display:none;}
	.bx-default-pager {display:none;}
	.bx-wrapper .bx-next {right:30px !important;}
	.bx-wrapper .bx-prev {left:30px !important;}
	#iframe-video {display:none;}
	#footer {-webkit-text-size-adjust:auto;}
	#footer .copyright {float:none; margin:0; text-align:center;}
	#footer .sticker {display:none;}
	#bima, #bima-small {display:none;}
	#bima-small + .download {display:none;}
	.indie {margin:0 auto 10px;}

	.download {display:none;}
	.mobile.clone-download .download {display:block;}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	#device, #logo, #title {display:none;}
	.download {width:100%; top:700px; left:0; text-align:center;}
	.download a {float:none;}
	.download h1 {display:none;}
	#footer {width:100%;}
	.wrapper, .holder {height:790px;}
	.mobile {display:block !important;}
	img.mobile {margin:0 auto; position:relative;}
	.holder {width:100%;}
	.content-inside {width:100%; margin:0; text-align:center;}
	.content-inside h1 {font-size:24px; font-family:'HelveticaNeueLTStd-Roman';}
	.content-inside h2 {font-size:14px; line-height:21px; -webkit-text-size-adjust:80%;}
	.first-slide .content-inside h1 {}
	.first-slide .content-inside h1,
	.first-slide .content-inside h2 {color:#666;}
	.first-slide .content-inside h2 {font-size:18px;}
	.first-slide .insideTag {font-size:28px;}
	.hor-line {display:none;}
	.bx-default-pager {display:none;}
	.bx-wrapper .bx-next {right:30px !important;}
	.bx-wrapper .bx-prev {left:30px !important;}
	#iframe-video {display:none;}
	#footer {-webkit-text-size-adjust:auto;}
	#footer .copyright {float:none; margin:0; text-align:center;}
	#footer .sticker {display:none;}
	#bima, #bima-small {display:none;}
	#bima-small + .download {display:none;}
	.indie {margin:0 auto 10px;}
}

@media screen and (max-device-width:768px) {
	.content-inside h2 {font-size:14px; line-height:24px; -webkit-text-size-adjust:80%;}
}
@media screen and (max-width:480px) {
	/*html {zoom:80%;}*/
}
@media screen and (max-width:479px) {
	/*html {zoom:80%;}*/
	.wrapper {}
	.clone-download {width:300px; margin:20px auto 0;}
	.clone-download .download a {margin:0 2px;}
	.bx-wrapper img {max-width:50%;}
	#mobile-image-1 {left:-30px; max-width:80%;}
	#mobile-image-2 {left:-10px; max-width:70%;}
}

@media screen and (max-width:360px) {
	/*html {zoom:60%;}*/
	
	.first-slide .insideLogo {font-size:52px;}
	.first-slide .insideTag {font-size:20px;}
	.insideLogo {font-size:52px;}
	.insideTag {font-size:20px;}
	.first-slide .content-inside h1, .content-inside h1 {font-size:20px;}
	.first-slide .content-inside h2, .content-inside h2 {font-size:14px; line-height:18px;}
	.bx-wrapper .bx-next {right:10px !important;}
	.bx-wrapper .bx-prev {left:10px !important;}
	.insideText2 {font-size:11px;}
	.clone-download {width:240px; margin:20px auto 0;}
	.clone-download .download a {margin:0 2px;}
	.clone-download .download img {width:100px;}
	.stiker-mobile {width:80px; height:80px; background-size:cover;}

	.bx-wrapper img {max-width:50%;}
	#mobile-image-1 {left:-10px; max-width:80%;}
	#mobile-image-2 {left:-10px; max-width:70%;}
	.indie {max-width:100px !important;}
	.indie-link {font-size:9px;}

	.bx-wrapper .bx-next {background-image:url(../img/btn_next_off_mobile.png);}
	.bx-wrapper .bx-next:hover {background-image:url(../img/btn_next_mobile.png);}
	.bx-wrapper .bx-prev {background-image:url(../img/btn_prev_off_mobile.png);}
	.bx-wrapper .bx-prev:hover {background-image:url(../img/btn_prev_mobile.png);}
	.bx-wrapper .bx-prev,
	.bx-wrapper .bx-next {width:30px; height:30px; background-repeat:no-repeat; position:absolute; top:270px; cursor:pointer;}
}
